<%= form_for(@resource_type) do |f1| %>
  <% if @resource_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_type.errors.count, "error") %> prohibited this resource_type from being saved:</h2>

      <ul>
      <% @resource_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f1.label :name %><br />
    <%= f1.text_field :name %>
    
  </div>
  <%= link_to "Add field", new_field_path(:format => :js),
              :remote => true, :id => 'new_field_link' %>
  <div class="actions">
    <%= f1.submit %>
  </div>
<% end %>
