
<%= form_for @resource_type, :html =>{:class=>"form-horizontal"} do |f1| %>
  <% if @resource_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_type.errors.count, "error") %> prohibited this resource_type from being saved:</h2>

      <ul>
      <% @resource_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f1.label :name, :class=>"control-label" %>
    <div class="controls">
      <%= f1.text_field :name %>
    </div>
    
  </div>



  <% if !@resource_fields.blank? %>
     <% @resource_fields.each do |field|%>
       <div class="control-group">
       <%= hidden_field_tag "fields[][id]", field.id%>
       <label class='control-label' for='fields[][name]'>Field Name</label>
       <div class="controls">
          <%= text_field_tag "fields[][name]", field.name%>  	  
       </div>
       <label class='control-label' for='fields[][field_type_id]'>Field Type</label>
       <div class="controls">
          <%= select_tag "fields[][field_type_id]", options_from_collection_for_select(@field_types, "id", "name", field.id), :id=>field.id%>
          <div class="controls-label">
       	  	<a href='#' class='btn' onclick='resource_type_edit_remove_field(this)'>Remove Field</a>
       	  </div> 
       </div>
       </div>
     <%end%>
  <% end %>

  <div class="control-group">
    <div class="controls">
  	   <%= link_to "Add field","#", :onclick => "resource_type_add_new_field()" %>
    </div>
  </div>

  
  
  
  <div class="actions controls">
    <%= f1.submit %>
  </div>
<% end %>
