<h3>Listing resource_types</h3>
	<div class="control-group">
		<%= link_to 'New Resource type', new_resource_type_path,:class=>"btn btn-primary controls" %>
    </div>
<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resource_types.each do |resource_type| %>
  <tr>
    <td><%= resource_type.name %></td>
    <td><%= link_to 'Show', resource_type, :class=>"btn btn-info"%></td>
    <td><%= link_to 'Edit', edit_resource_type_path(resource_type),:class=>"btn btn-info" %></td>
    <td><%= link_to "<i class='icon-white icon-trash'></i> Destroy".html_safe, resource_type, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %></td>
  </tr>
<% end %>
</table>