<p id="notice"><%= notice %></p>

<h4>
  <strong>Name: </strong>
  <i><%= @resource_type.name %></i>
</h4>
<div class="form-inline"><b>Fields</b></div>
<ol>
<% @resource_type.fields.each do |field| %>
  <div class="form-inline">
    <h4><li><%= field.name%></li></h4>
    <strong>Type:</strong> <%= field.field_type.name %>
  </div>
  <strong><h5>Validators for <%= field.name %>:</h5></strong>
  <% field.validators.each do |v| %>
      <%= link_to v.name, v %><br>
  <% end %>
     
<% end %>
</ol>

<h5>All available field names for making description:</h5>
<p>
  <%= @resource_type.all_field_names.inspect %>
</p>
<p>Example: "My name is $${name_of_field}"<p>

<div class="boxforforms">
<%= form_for @resource_type, :html => { :class => "form-horizontal" },
    :url => { :action => :description }, :method => :post do |f| %>
  <% if @resource_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource_type.errors.count, "error") %> prohibited this resource_type from being saved:</h2>

      <ul>
      <% @resource_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :description, :class=>"control-label" %>
    <div class="controls">
      <%= f.text_field :description %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Update description", :class => "btn btn-primary" %>
  </div> 
<% end %>
</div>
<br>
<%= link_to 'Edit', edit_resource_type_path(@resource_type) %> |
<%= link_to 'Back', resource_types_path %>
