<%= form_for @menu, :html =>{:class=>"form-horizontal"} do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    </form>
  <% end %>
  <div class="boxforforms">
  <% if @menu.user_id %>
     <%= f.hidden_field(:parent_id, :value=>@params[:id]) %>
     <%= f.hidden_field(:user_id, :value=>current_user.id) %>
  <% end %>
    <div class="control-group">
  	<%= f.label :title,:class =>"control-label"%>
  	<div class="controls">
     <%= select_tag('menu[bookmark_id]', options_from_collection_for_select(@bookmark, 'id', 'title'),:include_blank =>"") %>
     </div>
      </div>
       <div class="control-group">
  	 <%= f.label :position, :class =>"control-label" %>
  	 <div class="controls">
     <%= f.number_field :position %>
   </div>
  </div>
  <div class="actions controls">
    <%= f.submit :class =>"btn btn-primary " %>    
 </div>
 </div>
<% end %>
	
