<%= form_for(@menu) do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    </form>
  <% end %>
<div class="boxforcrud">
  <div class="field form-inline ">
     <div class="pull-right"> <%= f.select(:parent_id , Menu.all.collect {|p| [ p.title, p.id ] }, {:include_blank => ''}) %></div>
  	<%= f.label :parent_id, :class =>"pull-right lll" %>
  </div><br>
  <div class="field form-inline marginforforms ">
  	<%= f.number_field :role_id, :class =>"pull-right " %>
  	<%= f.label :role_id, :class =>"pull-right lll" %>
  	
    
  </div><br>
  <div class="field form-inline marginforforms ">
  	<%= f.text_field :url, :class =>"pull-right" %>
    <%= f.label :url, :class =>"pull-right lll" %>
    
  </div><br>
  <div class="field form-inline marginforforms ">
  	<%= f.number_field :user_id, :class =>"pull-right" %>
    <%= f.label :user_id, :class =>"pull-right lll" %>
    
  </div><br>
  <div class="field form-inline marginforforms ">
  	<%= f.text_field :text, :class =>"pull-right" %>
    <%= f.label :text, :class =>"pull-right lll" %>
     </div><br>
  <div class="field form-inline marginforforms ">
  	<%= f.text_field :title, :class =>"pull-right span3" %>
  	  <%= f.label :title, :class =>"pull-right lll" %>
      </div><br>
  <div class="field form-inline marginforforms ">
  	<%= f.text_field :target, :class =>"pull-right" %>
    <%= f.label :target, :class =>"pull-right lll" %>
      </div><br>
  <div class="actions text-center marginforforms">
    <%= f.submit :class =>"btn btn-primary " %>
  </div>
  </div>
<% end %>
