<%= form_for @menu, :html =>{:class=>"form-horizontal"} do |f| %>
  <% if @menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h2>
      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    </form>
  <% end %>
  <div class="boxforforms">
  <div class="control-group ">
  	<%=f.label :parent_id, :class=>"control-label" %>
  	<div class="controls">
     <%= f.text_field(:parent_id, :value=>@params[:id]) %>
  	</div>
  </div>
  <div class="control-group">
  	<%= f.label :role_id, :class =>"control-label"  %>
  	<div class="controls">
  	<%= f.number_field :role_id %>  	
  	</div>    
  </div>
    <div class="control-group">
  	 <%= f.label :user_id, :class =>"control-label" %>
  	 <div class="controls">
     <%= f.number_field :user_id %>
   </div>
  </div>  
  <div class="control-group">
  	<%= f.label :target,:class =>"control-label"%>
  	<div class="controls">
  	<%= f.text_field :target %>
     </div>
      </div>
      <div class="control-group">
  	<%= f.label :title,:class =>"control-label"%>
  	<div class="controls">
     <%= select_tag('menu[bookmark_id]', options_from_collection_for_select(@bookmark, 'id', 'title')) %>
     </div>
      </div>
      <div class="control-group">
  	 <%= f.label :position, :class =>"control-label" %>
  	 <div class="controls">
     <%= f.number_field :position %>
   </div>
  </div>
  <div class="actions controls">
    <%= f.submit :class =>"btn btn-primary " %>
    
  </div>
	</div>
<% end %>
	
