<%= form_for(@event_resource) do |f| %>
  <% if @event_resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event_resource.errors.count, "error") %> prohibited this event_resource from being saved:</h2>

      <ul>
      <% @event_resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="control-group">
    <%= f.label :resource_id, :class=>"conresource_idrol-label" %>
  <div class="controls">
      <%= f.select :resource_id, options_from_collection_for_select(Resource.all, "id","description"),{ :include_blank => 'Select type'} %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :event_id, :class=>"control-label" %>
  <div class="controls">
      <%= f.select :event_id, options_from_collection_for_select(Event.all, "id","name"),{ :include_blank => 'Select type'} %>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
