<% unless @horizontal_table_headers.blank? %>
  <% hor_headers = @horizontal_table_headers.collect{|header| header.resource_type.name} %>
<% else %>
  <% hor_headers = 0 %>
<% end %>

<% unless @vertical_table_headers.blank? %>
  <% ver_headers = @vertical_table_headers.collect{|header| header.resource_type.name}%>
<% else %>
  <% ver_headers = 0 %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @table_template.name %>
</p>

<div class="table-reponsive">
  <table id="timetable" class="table">
    
    <tr>
      <td></td>
      
      <td>
        <%= render :partial=>"table_templates/values" %>
      </td>
      
    </tr>
    
  </table>
</div>

<%= link_to 'Edit', edit_table_template_path(@table_template) %> |
<%= link_to 'Back', table_templates_path %>

