<div class="formmargin">
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<div class="lll">
  <form class="field form-inline">
    <%= f.label :username %>
    <%= f.text_field :username%>
  </form>
  <form class="field form-inline">
    <%= f.label :email %>
    <%= f.text_field :email, :class =>"pull-right" %>
  </form>
  <form class="field form-inline">
    <%= f.label :password %>
    <%= f.password_field :password, :class =>"pull-right"%>
  </form>
  <form class="field form-inline">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class =>"pull-right" %>
  </form>
  <div class"text-center" >
  <%= recaptcha_tags %>
	</div> 
  <div class="actions text-center ">
    <%= f.submit :class =>"btn btn-primary"%>
  </div>
   </div>
<% end %>
</div>
