<div>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="boxforforms">
<form>
  <div class="field form-inline marginforforms">
    <%= f.label :username, :class=>"pull-left"%>
    <%= f.text_field :username, :class =>"pull-right"%>
  </div><br>
  <div class="field form-inline marginforforms">
    <%= f.label :email, :class=>"pull-left"%>
    <%= f.text_field :email, :class =>"pull-right"%>
  </div><br>
  <div class="field form-inline marginforforms">
    <%= f.label :password, :class=>"pull-left" %>
    <%= f.password_field :password, :class =>"pull-right"%>
  </div><br>
  <div class="field form-inline marginforforms">
    <%= f.label :password_confirmation, :class=>"pull-left"  %>
    <%= f.password_field :password_confirmation, :class =>"pull-right" %>
  </div><br>
  <p></p>
  <div class"text-center marginforforms " >
  <%= recaptcha_tags%>
	</div> 
  <div class="actions text-center marginforforms ">
    <%= f.submit :class =>"btn btn-primary"%>

  </div>
  
  </form>
   </div>
<% end %>
</div>
