<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<p>
  <b>Password:</b>
  <%= @user.encrypted_password %>
</p>

<p>
  <b>Roleid:</b>
  <%= @user.roleid %>

  <% @roles.each do |role| %>
    <li>
      <% if role.id == @user.roleid %> 
        <%= check_box_tag 'role_ids', role.id, checked = true -%>
        <%= role.name -%>
      <% else %>
        <%= check_box_tag 'role_ids', role.id, checked = false, :disabled => true -%>
        <%= role.name -%>
      <% end %>
    </li>
  <% end %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
