<section class="group">
<div id="slideshow1" class="slideshow">
  <%= image_tag "slides/1.jpg" %>
  <%= image_tag "slides/2.png" %>
  <%= image_tag "slides/3.jpg" %>
  <%= image_tag "slides/4.jpg" %>
  <%= image_tag "slides/5.jpg" %>
  <%= image_tag "slides/6.jpg" %>
  <%= image_tag "slides/8.png" %>
</div>
</section>