<section class="group">
<div id="slideshow1" class="slideshow">
<<<<<<< HEAD
  <% image_tag "slides/1.jpg" %>
  <%# image_tag "slides/2.png" %>
  <%# image_tag "slides/3.jpg" %>
  <%# image_tag "slides/4.jpg" %>
  <%# image_tag "slides/5.jpg" %>
  <%# image_tag "slides/6.jpg" %>
  <%# image_tag "slides/8.png" %>
=======
  <%= image_tag "slides/1.jpg" %><!-- 
  <%= image_tag "slides/2.png" %>
  <%= image_tag "slides/3.jpg" %>
  <%= image_tag "slides/4.jpg" %>
  <%= image_tag "slides/5.jpg" %>
  <%= image_tag "slides/6.jpg" %>
  <%= image_tag "slides/8.png" %> -->
>>>>>>> 1dbd13aacca98a5bb6d45e103f2d75af59ff1874
</div>
</section>