<div class="boxforforms">
  <h3>Listing events</h3>
  <div class="control-group">
	<%= link_to 'New Event', new_event_path, :class=>"btn btn-primary controls"%>
  </div>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Event type</th>
      <th>Start at</th>
      <th>End at</th>
      <th>Recurrence</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.event_type.name %></td>
        <td><%= event.start_at %></td>
        <td><%= event.end_at %></td>
        <td><%= event.recurrence_id %></td>
        <td><%= link_to 'Show', event, :class=>"btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_event_path(event),:class=>"btn btn-success" %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger" %></td>
      </tr>
    <% end %>
  </table>
</div>
