<%= form_for @notify_event, :html =>{:class=>"form-horizontal"}  do |f| %>
<% if @notify_event.errors.any? %>

  <div id="error_explanation">
	<h2><%= pluralize(@notify_event.errors.count, "error") %> prohibited this notify_event from being saved:</h2>

	<ul>
		<% @notify_event.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
  </div>
<% end %>

<div class="control-group">
	<%= f.label :name, :class=>"control-label"  %>
	<div class="controls">
		<%= f.text_field :name %>
	</div>
</div>
<br>

<div class="control-group">

		<%= f.label :template_id, :class=>"control-label" %>
		<div class="controls">
		<%= f.select(:template_id, options_from_collection_for_select(NotifyTemplate.all, :id, :template_name), :include_blank => true) %>
	    </div>
</div>
<br>

<div id="marginforforms">
	
	<div class="control-group">
		
		<%= label_tag(:user, "Select user", :class=>"control-label") %>
		<div class="controls">
	    <%= select_tag(:user, options_from_collection_for_select(User.all, :id, :username), :include_blank => true) %>
        </div>
	</div>
</div>

<div class="control-group">
    <div class="controls">
 <%= link_to "Add recipient","#", :onclick => "add_recipient()" %>
	</div>
</div>


	<div class="form-inline">

			<%= label_tag(:observer, "Event") %>
			<%= radio_button_tag(:observer, "Event") %></br>
			</br>
		    <%= label_tag(:observer, "Observer") %>
			<%= radio_button_tag(:observer, "Observer") %>
	</div>

<div class="actions">
	<%= f.submit %>
</div>
<% end %>