<%= form_for(@notify_event) do |f| %>
  <% if @notify_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@notify_event.errors.count, "error") %> prohibited this notify_event from being saved:</h2>

      <ul>
      <% @notify_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
	<div class="offset span3"><%= f.label :name %></div>
	
	<%= f.text_field :name %>
</div><br>

  <div class="form-inline">
	
	<div class="offset span3"><%= f.label :template_id %> </div>
	<%= select_tag(:template_id, options_from_collection_for_select(NotifyTemplate.all, :id, :template_name)) %>
</div><br>
  
  
  <div class="form-inline">
  	<div class="offset span3"><%= f.label :event_id %></div><br>
    <%= f.number_field :event_id %>
  </div>
  <div class="form-inline">
		
	<br><div class="offset span3"><%= radio_button_tag(:event_id, "enable") %></div>
	<%= label_tag(:event_id, "Enable") %>
</div>
  <div class="form-inline">
    <div class="offset span3"><%= f.label :observer_id %></div><br />
    <%= f.number_field :observer_id %>
  </div>
  
  <div class="form-inline">
	
	<br><div class="offset span3"><%= radio_button_tag(:observer_id, "Enable") %></div>
	<%= label_tag(:observer_id, "Enable") %>
</div><br>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>