<%= form_for(@notify_event) do |f| %>
<% if @notify_event.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@notify_event.errors.count, "error") %> prohibited this notify_event from being saved:</h2>

	<ul>
		<% @notify_event.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div class="form-inline">
	<div class="offset span3"><%= f.label :name %></div>
	
	<%= f.text_field :name %>
</div><br>
<div class="form-inline">
	
	<div class="offset span3"><%= f.label :template_id %> </div>
	<%= select_tag(:template_id, options_from_collection_for_select(NotifyTemplate.all, :id, :template_name)) %>
</div><br>
<div class="form-inline">
	
	<div class="offset span3"><%= radio_button_tag(:notify_template, "welcome") %></div>
	<%= label_tag(:notify_template, "Send welcome email") %>
</div>
<div class="form-inline">
	
	<div class="offset span3"><%= radio_button_tag(:notify_template, "event changed") %></div>
	<%= label_tag(:notify_template, "Send event time changed email") %>
</div><br>
<div class="form-inline">
	
	<div class="offset span3"><%= f.label :event_id %></div>
	<%= f.number_field :event_id %>
</div><br>
<div class="form-inline">

    <div class="offset span3"><%= f.label :observer_id %></div>
    <%= f.number_field :observer_id %>
</div><br>

<div class="form-inline">
	<div class="offset span3"><%= f.submit %>
</div>
<% end %>
