<h1>Listing notify_events</h1>

<table>
  <tr>
    <th>Template</th>
    <th>Event</th>
    <th>Name</th>
    <th>Observer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @notify_events.each do |notify_event| %>
  <tr>
    <td><%= notify_event.template_id %></td>
    <td><%= notify_event.event_id %></td>
    <td><%= notify_event.name %></td>
    <td><%= notify_event.observer_id %></td>
    <td><%= link_to 'Show', notify_event %></td>
    <td><%= link_to 'Edit', edit_notify_event_path(notify_event) %></td>
    <td><%= link_to 'Destroy', notify_event, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Notify Event', new_notify_event_path %>
