<div class="boxforforms">
<p id="notice"><%= notice %></p>


<p>
  <b>Name:</b>
  <%= @notify_event.name %>
</p>

<p>
  <b>Template:</b>
  <%= @notify_event.notify_template_id %>
</p>

<p>
  <b>Event:</b>
  <%= @notify_event.event_id %>
</p>

<p>
	<b>Recipients:</b>
  <table class="table table-striped">
    <tr>
      <th>#</th>
      <th >Group number</th>
      <th >User name</th>
    </tr>
    <% @i=0 %>
    <% for recipient in @notify_event.recipients %>
    <tr>
      <td align="center"><%= @i=@i+1%></td>
      <td align="center" ><%= recipient.group_number %></td>
      <td align="center" ><%= recipient.user_id %></td>
    </tr>
     <% end %>
  </table>
  
</p>

<p>
  <b>Observer:</b>
  <%= @notify_event.notify_observer_id %>
</p>


<%= link_to 'Edit', edit_notify_event_path(@notify_event), :class => "btn btn-info" %>
<%= link_to 'Back', notify_events_path, :class =>"btn btn-info" %>
</div>
