<div class="boxforforms">
<%= form_for @user, :as => :user, :url => sign_in_path(@user) do |f| %>
  <div class="form_sign_in form-inline ">
  	<%= f.text_field :username, :class =>"pull-right span3" %>
    <%= f.label 'username or email:', :class =>"pull-right lll" %>
    
  </div><br>
  <div class="form-inline marginforforms">
  	<%= f.password_field :password, :class =>"pull-right" %>
    <%= f.label 'password:', :class =>"pull-right lll" %>
    
  </div><br>
  <div class="text-center marginforforms">
  	Remember me
  <%= f.check_box :remember_me %>
</div><br>
  <div class="text-center">
    <%= f.submit 'Sign In', :class =>"btn btn-primary"%>&nbsp;&nbsp;&nbsp;
    <%= f.submit 'Clear Form', :type => 'reset', :class =>"btn btn-primary" %>
  </div>
  <p>
  <%= link_to 'forgot your password?', :forgot_password %>
</p>
</form>
<% end %>
</div >
