<h1>Listing field_validations</h1>

<table>
  <tr>
    <th>Field</th>
    <th>Validator</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @field_validations.each do |field_validation| %>
  <tr>
    <td><%= field_validation.field_id %></td>
    <td><%= field_validation.validator_id %></td>
    <td><%= link_to 'Show', field_validation %></td>
    <td><%= link_to 'Edit', edit_field_validation_path(field_validation) %></td>
    <td><%= link_to 'Destroy', field_validation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Field validation', new_field_validation_path %>
