<h2>Sign in</h2>
  <%= devise_error_messages! %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>
  <%= devise_error_messages! %>
  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>
  <%= devise_error_messages! %>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
  <%= devise_error_messages! %>
  <div><%= f.submit "Sign in" %></div>
<% end %>  <%= devise_error_messages! %>
<%= render "devise/shared/links" %>
  <%= devise_error_messages! %>