
<%= form_for @resource, :html =>{:class=>"form-horizontal"} do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation", class="control-group">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :description, :class=>"control-label"%>
    <div class="controls">
       <%= f.text_field :description %>
    </div>
  </div>
  <div class="control-group">
  <%= f.label :resource_type_id, :class=>"control-label" %>
  <div class="controls">
  <%= f.select :resource_type_id,  options_from_collection_for_select(@resource_types, "id","name"),{:include_blank => ''}, :onchange => 'update_resource_fields_div(this.value)' %>
  <%= link_to "Create new type", {:controller => "resource_types", :action => "new"}, :class=>"btn btn-info"%>
  </div>
  
  </div>
  <div id="fieldsDiv" class="control-group">
  </div>
  <div class="actions controls">
    <%= f.submit%> 
  </div>
<% end %>
