<script>
function update_resources(resource_type_id) {  
  console.log(resource_type_id);
  $.ajax({
    url: "/update_resources",
    type: "GET",
    data: {"resource_type_id" : resource_type_id},
    dataType: "html",
    success: function(data) {
      $("#ResourceTable").html(data);
    }
  }); 
}
</script>
<h1>Listing resources</h1>
 <%= select_tag "resource_type_id",  options_from_collection_for_select(@resource_types, "id","name"),:prompt => "All types", :onchange => 'update_resources(this.value)' %>
<table id="ResourceTable">
  <tr>
    <th>Description</th>
    <th>Resource type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <tr>
    <td><%= resource.description %></td>
    <td><%= resource.resource_type_id %></td>
    <td><%= link_to 'Show', resource %></td>
    <td><%= link_to 'Edit', edit_resource_path(resource) %></td>
    <td><%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Resource', new_resource_path %>
