<div class="boxforforms">
<h3>Listing resources</h3>
<div class="form-inline">
  <div class="control-group">
  <%= select_tag "resource_type_id",  options_from_collection_for_select(@resource_types, "id","name"),:prompt => "All types", :onchange => 'update_resources(this.value)'%>
  <%= link_to 'New Resource', new_resource_path,:class=>"btn btn-primary controls" %>
  </div>
</div>

<table id="ResourceTable" class="table table-striped">
  <tr>
  	<th>Id</th>
    <th>Description</th>
    <th>Resource type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @resources.each do |resource| %>
  <% if can?(:read, resource) %>
    <tr>
    	<td><%= resource.id %></td>
      <td><%= resource.description %></td>
      <td><%= ResourceType.find(resource.resource_type_id).name %></td>
      <td><%= link_to 'Show', resource,:class=>"btn btn-info" %></td>
      <td><%= link_to 'Edit', edit_resource_path(resource),:class=>"btn btn-success" %></td>
      <td><%= link_to "Destroy", resource, method: :delete, data: { confirm: 'Are you sure?' },:class=>"btn btn-danger"%>
      </td>
    </tr>
  <% end %>
<% end %>
</table>
<div id="popup">
  <div id="popup-header">
  </div>
  <div id="popup-main">
  </div>
</div>
</div>
<script src="/js/resource_info.js"></script>
