<%= form_for(@table_cell_item) do |f| %>
  <% if @table_cell_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@table_cell_item.errors.count, "error") %> prohibited this table_cell_item from being saved:</h2>

      <ul>
      <% @table_cell_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :table_template_id %><br />
    <%= f.number_field :table_template_id %>
  </div>
  <div class="field">
    <%= f.label :resource_type_id %><br />
    <%= f.number_field :resource_type_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
