<h1>Listing table_cell_items</h1>

<table>
  <tr>
    <th>Table template</th>
    <th>Resource type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @table_cell_items.each do |table_cell_item| %>
  <tr>
    <td><%= table_cell_item.table_template_id %></td>
    <td><%= table_cell_item.resource_type_id %></td>
    <td><%= link_to 'Show', table_cell_item %></td>
    <td><%= link_to 'Edit', edit_table_cell_item_path(table_cell_item) %></td>
    <td><%= link_to 'Destroy', table_cell_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Table cell item', new_table_cell_item_path %>
