 <%= form_for( [:admin, @report],  html: {class: 'form-horizontal'} ) do |f| %>

        <div class="form-group">
          <% if params['conf_id'] %>
            <div class="col-lg-7">
              <h4>Conference:  <%= params['conf_fname'] %> </h4>
            </div>
            <%= hidden_field( :report, :conference_id, value: params['conf_id']) %>
          <% else %>
            <%= f.label :conference_id, 'Conference', class: "col-lg-2 control-label" %>
              <div class="col-lg-7">
                <%= select_tag 'report[conference_id]', options_from_collection_for_select(Conference.all, 'id', 'fullname'), class: "form-control" %>
              </div>
          <% end %>
        </div> 
    <div class="form-group">
      <%= f.label :responsable, "Responsable*", class: "col-lg-2 control-label"%>
      <div class="col-lg-7">
        <%= f.text_field :responsable, class: "form-control" %>
      </div>
    </div>    
   
    <div class="form-group">
      <%= f.label :title, "Title*", class: "col-lg-2 control-label"%>
      <div class="col-lg-7">
        <%= f.text_field :title, class: "form-control" %>
      </div>
    </div> 
  
  <div class="form-group">
    <%= f.label :description, class: "col-lg-2 control-label" %>
    <div class="col-lg-7">
    <%= render "admin/share/wysiwyg" %> 
      <div id="editor" class="well col-md-9 form-control"></div>
    </div>
      <%= hidden_field( :report, :description, class: 'wysiwyg_textarea') %>
  </div>

    <div class="form-group">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit class: "btn btn-primary"%>
    </div>
  </div>

<% end %>
