<p id="notice"><%= notice %></p>

<p>
  <strong>Responsable:</strong>
  <%= @report.responsable %>
</p>

<p>
  <strong>Title:</strong>
  <%= @report.title %>
</p>

<p>
  <strong>Video:</strong>
  <%= @report.video %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @report.photo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description.html_safe %>
</p>

        