<!DOCTYPE html>
<html>
<head>
  <title>EasyWay</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="css/site.css" type="text/css" charset="utf-8">
<script src="/jquery-2.0.2.min.js"> </script>
<script src="/js/bootstrap.js"> </script>
<script src="js/jquery-2.0.2.min.js"></script>
<script src="js/jquery.ui.core.js"></script>
<script src="js/jquery.ui.widget.js"></script>
<script src="js/jquery.rf.slideshow.js"></script>
<script src="/js/resources.js"> </script>
<script src="/js/menu.js"> </script>
<script src="/js/notifier.js"> </script>
<script src="/js/notify_events.js"> </script>


</head>
<body class="bodybg">
		<div class="header">
			<div class="headerTop">
			<div class="logo"></div>
				<form class="easywaywell span5 pull-right form-inline" >
				<% if current_user %>
  				Logged in as <%= current_user.username %>.
  					<%= link_to "Sign Out", signed_out_path, :class => "btn btn-primary"%>
  					<%= link_to "Account Settings", account_settings_path,:class => "btn btn-primary" %>
  				<%else%>
					<%= link_to "Sign up", new_user_path, :class => "btn btn-primary buttonfloat"%>
					<%= link_to "Sign In", sign_in_path, :class => "btn btn-primary buttonfloat"%> 
				<% end %>		
				</form>
				</div>
				<div class="headerBottom">

					<div class="navbar">
						<div>
<ul class="nav">
<% Menu.roots.each do |item|%>
  <% if item.children.empty?%>
    <li>
      <%= link_to item.title, item.url, :id => item.id %>
    </li>
  <% else %>
  	<%= content_tag :li,:class=>"dropdown", :id=>item.id do%>
  	<%= link_to item.url, :class=>"dropdown-toggle", :data => {:toggle=>"dropdown"} do%>
  	   <%= item.title %>
  	   <b class="caret"></b>
  	<% end %>
  	  	<ul class="dropdown-menu">
  		<% item.children.each do |child_item|%>
	    	<li>
	    		<%= link_to item.url, :id=>item.id do%>
    				<%=child_item.title%>
    			<%end%></li>
    		 	<% end %>
    	  	</ul>
  <% end %>
  <% end %>
<% end %>
<li><a href="#" onclick="add_create_buttons_to_menu()">Menu edit </a></li>
</ul>
</div>
	</div>				

				</div>
		</div>

			<div class="content ">
				<div class="hHeader"></div>
			<%=yield%>

		       <div class="hFooter"></div>		
		   </div>
   	

	<div class="footer"><h5>&copy; 087-LAMP Group</h5></div>
</body>
</html>
