<!DOCTYPE html>
<html>
<head>
  <title>EasyWay</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<link rel="stylesheet" href="/css/bootstrap.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<script src="/jquery-2.0.2.min.js"> </script>
<script src="/js/bootstrap.js"> </script>
<script src="/js/resources.js"> </script>
<script src="/js/notifier.js"> </script>

</head>
<body class="bodybg">
	<div>
		<div class="header">
			<div class="headerTop">
			<div class="logo"></div>

				<form class="easywaywell span5 pull-right form-inline" >
				<% if current_user %>
  				Logged in as <%= current_user.username %>.
  					<%= link_to "Sign Out", signed_out_path, :class => "btn btn-primary"%>
  					<%= link_to "Account Settings", account_settings_path,:class => "btn btn-primary" %>
  				<%else%>
					<%= link_to "Sign up", new_user_path, :class => "btn btn-primary buttonfloat"%>
					<%= link_to "Sign In", sign_in_path, :class => "btn btn-primary buttonfloat"%> 
				<% end %>		
				</form>
				</div>
				<div class="headerBottom">
					<div class="navbar">
<ul class="nav">
<% Menu.roots.each do |item|%>
  <% if item.children.empty?%>
    <li>
      <%= link_to item.title, item.url %>
    </li>
  <% else %>
  <li clas="dropdown">
  	<%= link_to item.url, :class=>"dropdown-toggle", :data => {:toggle=>"dropdown"} do%>
  	   <%= item.title %>
  	   <b class="caret"></b>
  	<% end %>
  <ul class="dropdown-menu">
  <% item.children.each do |child_item|%>
    <li><a href="#"><%= child_item.title%></a></li>
  <%end%>
  </ul>
  </li>
  <% end %>
<% end %>
</ul>
</div>
					
					
				</div>
		</div>

			<div class="content ">
			<%=yield%>
		   <div class="i"></div></div>	
				<div class="footer"></div>
	</div>

  
 




</body>
</html>
